body{
    background-image: url("https://wallpapercave.com/wp/wp6656168.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    color: blanchedalmond;
    height: fit-content;
    width: 1350px;
    text-align: center;
    
}
video{
    margin-left: 7%;
    margin-right: 5%;
}
a{
    text-decoration: none;
}